[server]
host=localhost
port=5237
secret=bad_password_33341
jid=example.org

[database]
path=bemyserver.db

[component]
log_traffic=yes
admin_user=admin
jid=chat.example.org

[opentok]
api_key=
api_secret=
