
<%if not @error then %>
<h1>Reset password </h1>
<form action="/reset-password/" method="post">

    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="inputPassword">
    </div>
    <div class="form-group">
        <label for="inputRepeatPassword">Repeat Password</label>
        <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Repeat Password">
    </div>
    <input type="hidden" value="<%= @token.token%>" name="token" />
    <button type="submit" class="btn btn-primary" id="submit">Reset Password</button>
</form>
<% end %>

<script type="text/javascript">
$(function(){
        $("#submit").click(function(){
        var hasError = false;
        $('.help-block').hide();
        var passwordVal = $("#inputPassword").val();
        var checkVal = $("#inputRepeatPassword").val();
        if (passwordVal == '') {
            $("#inputPassword").after('<span class="help-block has-error">Please enter a password.</span>');
            hasError = true;
        } else if (checkVal == '') {
            $("#inputRepeatPassword").after('<span class="help-inline">Please re-enter your password.</span>');
            hasError = true;
        } else if (passwordVal != checkVal ) {
            $("#inputRepeatPassword").after('<span class="help-inline">Passwords do not match.</span>');
            hasError = true;
        }
        if(hasError == true) {return false;}
    });
});
</script>