<h2>
  session <%= session_id%>
</h2>

<script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js" ></script>
<script type="text/javascript">
  var apiKey    = "<%= api_key %>";
  var sessionId = "YOUR SESSION ID HERE";
  var token     = "";
 
  var session = OT.initSession(apiKey, sessionId);
 
  session.on("streamCreated", function(event) {
    session.subscribe(event.stream);
  });
 
  session.connect(token, function(error) {
    var publisher = OT.initPublisher();
    session.publish(publisher);
  });
</script>
